<div class="container">
  <h1 class="title">Statement List</h1>

  <button class="create-statement-button" (click)="createStatement()">
    Create Statement
  </button>

  <div *ngIf="isCreating" class="create-statement-form">
    <form (ngSubmit)="onSubmitCreate()" #statementForm="ngForm">
      <div class="form-group">
        <label for="instituteId"> Institute</label>
        <input
          type="text"
          id="instituteId"
          name="instituteId"
          [(ngModel)]="institute.name"
          (input)="onInstituteInput($event)"
          class="form-control"
          placeholder="Institute name"
        />

        <ul *ngIf="filteredInstitute.length > 0" class="dropdown-menu">
          <li
            *ngFor="let institute of filteredInstitute"
            (click)="onSelectedInstitute(institute)"
          >
            {{ institute.name }}
          </li>
        </ul>
      </div>

      <button
        type="submit"
        [disabled]="statementForm.invalid"
        class="btn btn-primary"
      >
        Create Statement
      </button>

      <div *ngIf="successMessage" class="alert alert-success mt-3">
        {{ successMessage }}
      </div>

      <div *ngIf="errorMessage" class="alert alert-danger mt-3">
        {{ errorMessage }}
      </div>
    </form>
  </div>

  <div *ngIf="statements.length === 0" class="no-statements">No statements</div>

  <div class="statement-list">
    <li class="statement-item" *ngFor="let statement of statements">
      <div class="statement-card">
        <div class="statement-info">
          <h3 class="statement-name">{{ statement.index }}</h3>
        </div>
        <div class="statement-actions">
          <button class="view-btn" (click)="toggleDetails(statement.id)">
            View Details
          </button>
          <button
            class="view-btn"
            (click)="redirectOnExcelViewer(statement.id)"
          >
            View Excel
          </button>
        </div>
      </div>

      <!-- Блок деталей с анимацией
      <div
        class="statement-details"
        [ngClass]="{ visible: visibleDetails[statement.id] }"
      >
        <span class="statements">Grades</span>
        <div
          class="grade-list"
          *ngFor="
            let grade of statementsDetails.get(statement.id)?.grades?.data
          "
        >
          <span
            class="grade-value"
            *ngIf="
              getFullInfo(grade.teacherId, grade.studentId, grade.subjectId)
                | async as fullInfo
            "
            >Grade: {{ grade.value }} Teacher: {{ fullInfo }}
          </span>
        </div>
      </div> -->
    </li>
  </div>

  <!-- Кнопки для переключения страниц -->
  <div class="pagination-buttons">
    <button
      mat-raised-button
      (click)="goToPreviousPage()"
      [disabled]="currentPage === 1"
    >
      Previous
    </button>
    <input
      type="number"
      class="page-number"
      [(ngModel)]="currentPage"
      (input)="loadStatements(currentPage)"
    />
    <button
      mat-raised-button
      (click)="goToNextPage()"
      [disabled]="!hasMoreStatements"
    >
      Next
    </button>
  </div>
</div>
