<div class="main-container">
  <header class="main-header">
    <h1>Welcome to the Statement App</h1>
    <p>
      Choose an option from the links below to navigate to the different
      sections.
    </p>
  </header>

  <div class="links-container">
    <a routerLink="/students" class="nav-link">
      <button mat-raised-button color="primary" class="nav-button">
        Students
      </button>
    </a>
    <a routerLink="/groups" class="nav-link">
      <button mat-raised-button color="accent" class="nav-button">
        Groups
      </button>
    </a>
    <a routerLink="/teachers" class="nav-link">
      <button mat-raised-button color="warn" class="nav-button">
        Teachers
      </button>
    </a>
    <a routerLink="/subjects" class="nav-link">
      <button mat-raised-button color="primary" class="nav-button">
        Subjects
      </button>
    </a>
    <a routerLink="/departments" class="nav-link">
      <button mat-raised-button color="accent" class="nav-button">
        Departments
      </button>
    </a>
    <a routerLink="/grades" class="nav-link">
      <button mat-raised-button color="warn" class="nav-button">
        Grades
      </button>
    </a>
    <a routerLink="/institutes" class="nav-link">
      <button mat-raised-button color="warn" class="nav-button">
        Institutes
      </button>
    </a>
    <a routerLink="/statements" class="nav-link">
      <button mat-raised-button color="warn" class="nav-button">
        Statements
      </button>
    </a>
  </div>
</div>

<router-outlet></router-outlet>
